* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.container-register {
  height: 100vh;
  display: flex;
  padding: 2em;
  align-items: center;
}

#previsualizacion {
  width: 25%;
}

/* principal */

.border-register {
  padding: 1em;
  width: 100%;
  height: auto;
  margin: 25vh 5vh;
}

.message-ini {
  position: absolute;
  color: #13004b;
  bottom: 1.5em;
  left: 1em;
  font-size: 20px;
}

.box-btn {
  text-align: center;
  padding: 0 1em;
}

.box-btn a {
  display: block;
  color: white;
  border: 2px solid rgb(0, 107, 247);
  margin: 2em auto 0 auto;
  border-radius: 20px;
  background-color: rgb(0, 107, 247) !important;
}

.box-btn a:hover {
  background-color: rgb(62, 147, 250) !important;
  color: #ffffff;
  font-weight: 800;
}

.box-img-register {
  text-align: center;
}

.row .col {
  padding: 4em;
  margin-top: 120px;
  margin-left: 0px !important;
}

.two-buttons {
  margin-top: 100px;
}

.first-btn1 {
  margin: 130px;
  margin-top: 200px;
  margin-bottom: 0;
}

.first-btn2 {
  margin: 135px;
  margin-top: -100px;
}

.btn,
.btn-large {
  background-color: rgba(104, 177, 104, 0);
  color: black;
  border-radius: 5px;
}

.btn-style {
  background-color: #002dc0;
  color: white;
}

#alg-center {
  text-align: center;
}

.absolute {
  position: absolute;
  width: 25%;
}

.absolute p {
  display: inline-block;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
}

.absolute img {
  width: 50%;
  display: inline-block;
}

.modal {
  padding: 1em;
  /* overflow: hidden;} */
}

.box-login-sn {
  margin-top: 1em;
  padding: .5em;
}

.box-login-sn span {
  margin-right: 10px;
}

#pd0 {
  padding: 0;
}
h3{
  font-size:2rem !important;
  margin-top: -5%  !important;
}
.logo {
  width: 80px;
}
.modal-footer{
  margin-top: -4% !important;
}
.title-desktop {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 600;
}

.titles {
  font-family: 'Cabin Sketch', cursive;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 601px) {
  .box-btn {
    padding: 0;
  }

  .border-register {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 25vh 0;
  }

  .row .col {
    padding: 5em !important;
    margin-top: 130px !important;
    margin-left: 460px !important;
  }

  .box-btn a {
    background-color: transparent;
    border: 1px solid rgb(21, 101, 206);
    color: #ffffff;
  }

  .container-register {
    padding-right: 0;
  }
}
