<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sodimac</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>
  <!-- Custom styles for this template-->
  <link href="../css/main.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="sist.c.in.html">
      <img class="ui centered medium image logo" src="../assets/images/logo-sodic.svg" alt="logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="sist.c.in.html">
            <i class="fas fa-fire"></i>
            <span class="nav-link-text">Sistema Contra Incendio</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="electricidad.html">
            <i class="fas fa-bolt"></i>
            <span class="nav-link-text">Sistema de Electricidad</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="emergencia.html">
            <i class="fa fa-fw fa-exclamation-triangle"></i>
            <span class="nav-link-text">Sistema de Emergencia</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" target="_blank" href="http://10.1.3.83:8080">
            <i class="fas fa-camera"></i>
            <span class="nav-link-text">Sistema de Cámaras</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container justify-content-center">
      <ul class="list-inline">
        <li class="list-inline-item" id="door1">
          <h6 class="text-center">Puerta de Emergencia 1</h6>
          <div class="exit-image-container">
            <img src="../assets/images/exit-closed.jpg" alt="Puertas cerradas">
          </div>
          <p class="closed text-center">Abierto por última vez:
            <br>
            <span>12-01-2018</span>
          </p>
        </li>
        <li class="list-inline-item" id="door2">
          <h6 class="text-center">Puerta de Emergencia 2</h6>
          <div class="exit-image-container">
            <img src="../assets/images/exit-closed.jpg" alt="Puertas cerradas">
          </div>
          <p class="closed text-center">Abierto por última vez:
            <br>
            <span>03-06-2017</span>
          </p>
        </li>
        <li class="list-inline-item" id="door3">
          <h6 class="text-center">Puerta de Emergencia 3</h6>
          <div class="exit-image-container">
            <img src="../assets/images/exit-open.jpg" alt="Puertas cerradas">
          </div>
          <p class="open text-center">Abierto desde:
            <br>
            <span>9:00 AM</span>
          </p>
        </li>
        <li class="list-inline-item" id="door4">
          <h6 class="text-center">Puerta de Emergencia 4</h6>
          <div class="exit-image-container">
            <img src="../assets/images/exit-closed.jpg" alt="Puertas cerradas">
          </div>
          <p class="closed text-center">Abierto por última vez:
            <br>
            <span>22-08-2017</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->

  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Your Website 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="../index.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin.min.js"></script>
  <!-- Custom scripts for this page-->
  <script src="../js/emergencia-data.js"></script>

</body>

</html>